@use "../src/Styles/mixins" as m;

.hookParagraph {
  margin: 0 0 30px;
  color: var(--secondary-white);
}

@include m.medium {
  .hookParagraph {
    font-size: .9rem;
  }
}

.explanation>p+a {
  font-size: 1.2rem;
  padding-left: 0;
}

@include m.medium {
  .explanation>p+a {
    font-size: .9rem;
  }
}