@import "../../Sass/mixins";

.introduction {
  padding: 20px 0;
  margin: 70px 0 50px;
}

.introduction>h1 {
  font-size: 3rem;
}

.introduction>img {
  margin: 40px 0;
}

.introduction>article:not(:last-child) {
  margin-bottom: 70px;
}

.introduction>article>h2 {
  margin: 40px 0 14px;
  font-size: 2rem;
}