.code {
  display: flex;
  padding: 20px;
  margin: 20px;
  font-size: 1.2rem;
  background-color: #0d1017;
}

.numbering {
  font-size: 1.1rem;
  line-height: 1.275;
  color: #464b56;
  padding-right: 20px;
}

.languageJs {
  padding: 0 !important;
  background-color: #0d1017 !important;
}