.code {
  display: flex;
  padding: 20px;
  margin: 20px;
  font-size: 1.2rem;
  background-color: #0d1017;
  position: relative;
}

.code:hover .copyButton {
  opacity: 1;
}

.numbering {
  font-size: 1.1rem;
  line-height: 1.275;
  color: #464b56;
  padding-right: 20px;
}

.languageJs {
  padding: 0 !important;
  background-color: #0d1017 !important;
}

.copyButton {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  border: none;
  padding: 12px 13px;
  background-color: rgb(105, 105, 105);
  border-radius: 4px;
  transition: background-color .2s, transform .1s ease, opacity .2s .1s;
  opacity: 0;

  &:hover {
    background-color: rgb(49, 49, 49);
  }

  &:active {
    transform: scale(.93);
  }
}

.copyButton i {
  font-size: 1.2rem;
  color: var(--text);
}