:root {
  --black: #070b10;
  --secondary-black: #2b2b2b;
  --third-black: #383838;
  --extra-dark-blue: #0a1119;
  --dark-blue: #151c27;
  --light-dark-blue: #363a45;
  --d: #383838;
  --dark-gray: #292a2e;
  --darker-gray: #1e1e1e;
  --very-dark-purple: #2d3058;
  --dark-gray-opacity5: rgba(69, 69, 69, .5);
  --gray-opacity5: rgba(186, 186, 186, .5);
  --gray-opacity2: rgba(255, 255, 255, .2);
  --gray-opacity23: rgba(186, 186, 186, .23);
  --black-opacity18: rgba(0, 0, 0, .18);
  --error-guy-color: #1e1e1e;
  --error-guy-color2: #2b2b2b;
  --very-light-gray: #f0f0f0;
  --white: #fff;
  --secondary-white: #eee;
  --cyan-blue: #2483ff;
  --very-cyan-blue: #0088ff;
  --cyan-blue2: #275efe;
  --cyan-blue-hover: #275efe;
  --dark-cyan: #184fee;
  --dark-cyan-hover: #0e44e8;
  --light-green: #64ffda;
  --orange: #ffa500;
}

:root.light-mode {
  --extra-dark-blue: #eee;
  --secondary-black: #fff;
  --third-black: #fff;
  --white: #070b10;
  --very-light-gray: #2b2b2b;
  --dark-gray-opacity5: #2483ff;
  --secondary-white: #2b2b2b;
}