@import "../Sass/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:not(code)::selection {
  background-color: #373b41;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
  padding-left: 280px;
}

@media (max-width: 1280px) {
  body {
    padding-left: 0;
  }
}

:root {
  --background: #0a1119;
  --text: #fff;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button {
  outline: none;
  border: none;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
}

@include medium {
  p {
    font-size: 1rem;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    width: 80%;
  }
}

@include medium {
  .container {
    width: 92%;
  }
}

.linkStyle1 {
  text-decoration: none;
  color: #2483ff;
  position: relative;
  cursor: pointer;
  transition: color .3s;
  padding: 0 5px;

  &:first-child {
    padding-left: 0;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: calc(100% - 5px);
    height: 0;
    background-color: #2483ff;
  }

  &:hover {
    color: #398fff;
  }

  &:hover::before {
    height: 2px;
  }
}