@import "../Sass/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
  padding-left: 200px;
}

:root {
  --background: #0a1119;
  --text: #fff;
}

a {
  // text-decoration: none;
  color: var(--text);
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button {
  outline: none;
  border: none;
}

p {
  font-size: 1rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@include medium {
  .container {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .container {
    width: 90%;
  }
}

@include small {
  .container {
    width: 95%;
  }
}

// Hooks styles

.hook {
  margin-top: 70px;
}

.hook:last-child {
  margin-bottom: 70px;
}

.hook h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.scrollTest {
  border: solid;
  // padding: 20px;
  height: 400px;
  margin-bottom: 40px;
}




// Hook explanation
.hook-paragraph {
  margin: 30px 0 60px;
}


// Hook Inputs/Outputs
.inputs-outputs {
  margin: 50px 0;
}

.inputs-outputs h3 {
  margin-bottom: 20px;
}

.inputs-outputs>ul {
  margin: 30px 0;
}

.inputs-outputs>ul>li {
  margin: 6px 0;
}