.sidebarWrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  user-select: none;
  z-index: 100;
  pointer-events: all;
  transition: left .5s ease-in-out;
}

.sidebarWrapper.hide {
  left: -250%;
}

.sidebarWrapper.active {
  left: 0;
  background-color: #151c27;
}

.sidebarWrapper:not(.hide).extend {
  left: -290px;
}

.sidebarWrapper.focusMode {
  transition: left .5s ease-in-out, opacity .5s .5s;
  pointer-events: none;
  opacity: 0;
}

.sidebarButton {
  background-color: transparent;
  position: fixed;
  left: 10px;
  top: 30px;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .2s;

  &:hover {
    opacity: .8;
  }

  &:focus-visible {
    outline: solid 2px orange;
    border-radius: 6px;
  }
}

.sidebarButton>i {
  font-size: 1.4rem;
  color: var(--text);
}

.sidebar {
  padding: 20px 60px 20px 30px;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  z-index: 102;
}

.sidebar.active {
  padding: 20px 100px 20px 30px;
}

.closeNavButton {
  background-color: transparent;
  position: fixed;
  top: 26px;
  left: 6px;
  transform: translateX(240px);
  font-size: 1.4rem;
  color: var(--text);
  padding: 4px 8px;
  cursor: pointer;
  z-index: 2;
  transition: opacity 0 0;
  opacity: 0;

  &.active:hover {
    opacity: .8;
  }

  &:focus-visible {
    outline: solid 2px orange;
    border-radius: 4px;
  }
}

.closeNavButton.active {
  transition: opacity .2s .5s;
  opacity: 1;
}

.sidebar::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, .186);
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(186, 186, 186, .237);
  border-radius: 10px;

  &:hover {
    background-color: rgba(186, 186, 186, .5);
  }
}

.dragLine {
  position: absolute;
  height: 100%;
  width: 8px;
  background-color: #363a45;
  left: 290px;
  top: 0;
  transition: background-color .2s;
  z-index: 102;
  cursor: pointer;

  &:hover {
    background-color: #4b4f5a;
  }
}

.closeSideBarButton {
  position: absolute;
  left: 298px;
  top: 50px;
  padding: 5px 6px;
  background-color: transparent;
  background-color: #575c71;
  color: var(--text);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  z-index: -1;
  transition: opacity .2s .1s, background-color .2s;
  opacity: 0;
  z-index: 103;

  &:hover {
    background-color: #70768f;
  }

  &:focus-visible {
    outline: solid 2px #fff;
  }
}

.sidebarWrapper:hover .closeSideBarButton,
.sidebarWrapper .closeSideBarButton.active {
  opacity: 1;
}

.sidebarWrapper.extend .closeSideBarButton {
  left: 290px;
}
