.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: calc(100vh - (100vh - 100%));
  background-color: #0f172a84;
  z-index: 99;
  transition: opacity .2s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}