.scrollToTopButton {
  position: fixed;
  right: 15px;
  bottom: 40px;
  background-color: transparent;
  border: solid 2px var(--text);
  border-radius: 4px;
  opacity: .7;
  transition: opacity 0.2s;
  transform: rotate(1turn);

  &:hover {
    opacity: 1;
  }
}

.scrollToTopButton>i {
  font-size: 1.1rem;
  color: var(--text);
  padding: 6px;
  cursor: pointer;
  transition: opacity 0.2s;
  z-index: 100;
}