.darkModeButton {
  position: fixed;
  right: 15px;
  top: 180px;
  min-width: 30px;
  min-height: 30px;
  background-color: transparent;
  border: solid 2px var(--white);
  border-radius: 4px;
  opacity: .7;
  transition: opacity .2s;

  &:hover {
    opacity: 1;
  }

  &:focus-visible {
    border-color: var(--cyan-blue);
  }
}

.darkModeButton.focusMode {
  opacity: .2;
  transition: opacity .2s;

  &:hover {
    opacity: 1;
  }
}


.darkModeButton>i {
  font-size: 1rem;
  color: var(--white);
  padding: 7px 6px;
  cursor: pointer;
  transition: opacity .2s, border-color .2s;
}

.darkModeButton:focus-visible>i {
  color: var(--cyan-blue);
}

.darkModeButton .eyeSlashIcon {
  padding: 7.3px 6px;
  font-size: .9rem;
}