.modsContainer {
  position: fixed;
  right: 15px;
  top: 0;
  height: 100vh;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
}

.hidedButtonsOnFocusMode {
  display: flex;
  flex-direction: column;
}

.focusMode {
  opacity: 0;
  pointer-events: none;
}

.modsContainer button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: solid 2px var(--white);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: .7;
  transition: opacity .2s;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:hover {
    opacity: 1;
  }

  &:focus-visible {
    border-color: var(--cyan-blue);
  }
}

.modsContainer button.focusMode {
  opacity: .2;
  transition: opacity .2s;

  &:hover {
    opacity: 1;
  }
}

.modsContainer button svg {
  width: 17px;
  height: 17px;
  cursor: pointer;
  fill: var(--white);
  transition: opacity .2s, border-color .2s, fill .2s;
}

.modsContainer button:focus-visible svg {
  fill: var(--cyan-blue);
}

.modsContainer button .eyeSlashIcon {
  padding: 7.3px 6px;
  font-size: .9rem;
}