@import "../../../Styles/mixins";

.shortcut {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;

  &:not(:last-child) {
    margin-bottom: 10.2px;
  }
}

.shortcut p {
  font-size: 1rem;
  font-weight: 500;
}

@include small {
  .shortcut p {
    font-size: .9rem;
  }
}

.keys {
  display: flex;
}

.keys>button {
  background-color: transparent;
  color: var(--white);
  font-weight: 500;
  border: solid 1px #363636;
  height: 35px;
  min-width: 35px;
  padding: 0 10.87px;
  border-radius: 4px;
  font-size: 1rem;
  user-select: none;
  cursor: auto;
  transition: border-color .2s;

  &:not(:last-child) {
    margin: 0;
    margin-right: 5px;
  }

  &:hover {
    border-color: var(--white);
  }
}