@import "../../../Styles/mixins";

.shortcutsMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #181818;
  width: 800px;
  height: 450px;
  z-index: 100;
  border-radius: 5px;
  transition: opacity .2s;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

@include medium {
  .shortcutsMenu {
    width: 84%;
    height: 400px;
  }
}

@include small {
  .shortcutsMenu {
    width: 100vw;
    height: 100vh;
  }
}

.shortcutsMenu>header {
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shortcutsMenu>header>span {
  font-size: 1.2rem;
  font-weight: 500;
}

.shortcutsMenu>header>button {
  background-color: transparent;
  width: 35px;
  height: 35px;
}

.shortcutsMenu>header>button>svg {
  fill: #575757;
  width: 35px;
  height: 35px;
  padding: 4px;
  cursor: pointer;
}

.shortcutsMenu>hr {
  border-color: #181818;
}

.shortcutsMenu main {
  display: block;
  padding: 0 14px 18px 18px;
  padding-top: 0;
  max-height: 200px;
  min-height: 310px;
  width: 100%;
  overflow-y: auto;
  margin: 38px 0;
  margin-right: 5px;
}

@include medium {
  .shortcutsMenu main {
    min-height: 260px;
  }
}

@include small {
  .shortcutsMenu main {
    width: 100%;
    min-height: calc(100vh - 110px);
  }
}

.shortcutsMenu main::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

.shortcutsMenu main::-webkit-scrollbar-thumb {
  background-color: #ededed2f;
}