@use "src/Styles/mixins" as m;

.introduction {
  padding: 20px 0;
  margin: 70px 0 50px;
}

.introduction>h1 {
  color: var(--white);
  font-size: 5.8rem;
  text-wrap: balance;
}

@include m.large {
  .introduction>h1 {
    font-size: 6rem;
  }
}

@include m.medium {
  .introduction>h1 {
    font-size: 5rem;
  }
}

@include m.small {
  .introduction>h1 {
    font-size: 2.4rem;
  }
}

@include m.mobile {
  .introduction>h1 {
    font-size: 2rem;
  }
}

.introImageWrapper {
  margin: 40px 0;
  width: 100%;
  cursor: wait;
  animation: loading-img infinite ease-in .6s alternate;
  display: flex;
  user-select: none;
}

.introImageWrapper>img {
  min-height: 330px;
  cursor: auto;
}

@include m.medium {
  .introImageWrapper>img {
    min-height: 250px;
  }
}

@include m.small {
  .introImageWrapper>img {
    min-height: 140px;
  }
}

.introduction>section:not(:last-child) {
  margin-bottom: 70px;
}

.introduction>section>h2 {
  margin: 40px 0 14px;
  font-size: 2rem;
}

@include m.medium {
  .introduction>section>h2 {
    margin: 40px 0 14px;
    font-size: 1.7rem;
  }
}

.introduction>section p {
  color: var(--secondary-white);
}

@keyframes loading-img {
  0% {
    background-color: #6d6d6d;
  }

  100% {
    background-color: #7f7f7f;
  }
}