@import "../../../Sass/mixins";

.introduction {
  padding: 20px 0;
  margin: 70px 0 50px;
}

.introduction>h1 {
  font-size: 3.4rem;
  text-wrap: balance;
}

@include large {
  .introduction>h1 {
    font-size: 2.8rem;
  }
}

@include medium {
  .introduction>h1 {
    font-size: 2.5rem;
  }
}

.introImageWrapper {
  margin: 40px 0;
  width: 100%;
  cursor: wait;
  animation: loading-img infinite ease-in .6s alternate;
  display: flex;
}

.introImageWrapper>img {
  min-height: 330px;
  cursor: auto;
}

@include medium {
  .introImageWrapper>img {
    min-height: 250px;
  }
}

@include small {
  .introImageWrapper>img {
    min-height: 140px;
  }
}

.introduction>article:not(:last-child) {
  margin-bottom: 70px;
}

.introduction>article>h2 {
  margin: 40px 0 14px;
  font-size: 2rem;
}

@include medium {
  .introduction>article>h2 {
    margin: 40px 0 14px;
    font-size: 1.7rem;
  }
}

@keyframes loading-img {
  0% {
    background-color: #6d6d6d;
  }

  100% {
    background-color: #7f7f7f;
  }
}