:root {
  --black: #070b10;
  --secondary-black: #2b2b2b;
  --third-black: #383838;
  --extra-dark-blue: #0a1119;
  --dark-blue: #151c27;
  --light-dark-blue: #363a45;
  --dark-gray: #292a2e;
  --darker-gray: #1e1e1e;
  --very-dark-purple: #2d3058;
  --dark-gray-opacity5: rgba(69, 69, 69, .5);
  --gray-opacity5: rgba(186, 186, 186, .5);
  --gray-opacity2: rgba(255, 255, 255, .2);
  --gray-opacity23: rgba(186, 186, 186, .23);
  --black-opacity18: rgba(0, 0, 0, .18);
  --error-guy-color: #1e1e1e;
  --error-guy-color2: #2b2b2b;
  --gray-purple: #575c71;
  --gray-purple-secondary: #70768f;
  --tooltip-bg-color: #6e7681;
  --gray: #cccccc;
  --very-light-gray: #f0f0f0;
  --white: #fff;
  --secondary-white: #eee;
  --cyan-blue: #2483ff;
  --very-cyan-blue: #0088ff;
  --cyan-blue2: #275efe;
  --cyan-blue-hover: #1c55ff;
  --dark-cyan: #184fee;
  --light-green: #64ffda;
  --light-green2: #76ffdf;
  --orange: #ffa500;
  --yellow: #ffff00;
  --golden: #e6b450;
  --text-selection-bg: #233554b6;
}

// Code block variables
:root {
  --codeBlockBgColor: #07090c;
  --codeBlockBorderColor: #090b0f;
  --codeBlockSelectionColor: #0e2238;
  --codeBlockSelectionTextColor: inherit;
  --codeBlockLinesNumbersColor: #7f8799;
}

// Shortcuts menu variables
:root {
  --shortcutsMenuBg: #181818;
  --shortcutsMenuScrollbarColor: #ededed2f;
  --shortcutsMenuScrollbarHoverColor: rgba(193, 193, 193, .5);
  --shortcutsMenuCloseButtonColor: #575757;
  --shortcutsMenuCloseButtonHoverColor: #fff;
}