@import "../../../Sass/mixins";

.code {
  font-size: 1.2rem;
  background-color: #07090c;
  position: relative;
  border: solid 2px #090b0f;
  border-radius: 10px;
  width: 100%;
  transition: border-color .2s;

  &:not(.fullscreen):where(:focus-within, :hover) {
    border-color: #5c5e62;
  }
}

@include medium {
  .code {
    font-size: .8rem;
  }
}

.code.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  z-index: 101;
  border-radius: 0;
}

.code>header {
  border-bottom: solid 1px #475264;
  margin-bottom: 20px;
}

@include small {
  .code>header {
    margin-bottom: 10px;
  }
}

.code.fullscreen>header {
  position: sticky;
  top: 0;
  background-color: #07090c;
}

.fileName {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: transparent;
  border: solid 1px #475264;
  border-bottom: solid 2px #0077ff;
  color: #cccccc;
  display: flex;
  align-items: center;

  &:first-child {
    border-top-left-radius: 8px;
  }
}

@include medium {
  .fileName {
    font-size: .8rem;
  }
}

.fileName>img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 50%;
}

@include medium {
  .fileName>img {
    width: 12px;
    height: 12px;
  }
}

.code .buttons {
  position: absolute;
  right: 14px;
  top: 22px;
  width: fit-content;
  transition: opacity .2s .1s;
  opacity: 0;
}

.code.fullscreen .buttons {
  position: fixed;
  right: 20px;
}

.code:hover .buttons,
.code:focus-visible .buttons {
  opacity: 1;
}

.buttons>button {
  cursor: pointer;
  border: none;
  padding: 8px 10px;
  background-color: #383838;
  border-radius: 4px;
  transition: background-color .2s, transform .1s ease;

  &:hover {
    background-color: #222222;
  }

  &:focus-visible {
    background-color: #222222;
    outline: solid 2px var(--light-green);
  }

  &:active {
    transform: scale(.93);
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

@include medium {
  .buttons>button {
    padding: 6px 8px;
  }
}

.buttons>button>i {
  font-size: .8rem;
  color: var(--white);
}

.buttons>button:focus-visible>i {
  color: var(--light-green);
}

.codeArea {
  display: flex;
}

.numbering {
  font-size: 1.1rem;
  line-height: 1.2727;
  color: #7f8799;
  border-radius: inherit;
  padding: 0 20px;
  user-select: none;
}

@include medium {
  .numbering {
    font-size: .85rem;
    line-height: 1.177;
  }
}

@include small {
  .numbering {
    padding: 0 10px;
  }
}

.preElement {
  background: #07090c !important;
  padding: 0 20px 20px 0 !important;
  margin-top: 0 !important;
  border-radius: 10px;
  width: calc(100% - 20px) !important;
  overflow: visible auto !important;
}

@include small {
  .preElement {
    padding: 0 10px 10px 0 !important;
  }
}

.code.fullscreen .preElement {
  height: 100vh !important;
}

.preElement>code::selection,
.preElement>code>span::selection {
  background-color: #0e2238 !important;
}

.preElement::-webkit-scrollbar {
  background-color: var(--black-opacity18);
  height: 8px;
  width: 8px;
}

.preElement::-webkit-scrollbar-thumb {
  background-color: var(--gray-opacity23);
  border-radius: 10px;

  &:hover {
    background-color: var(--gray-opacity5);
  }
}

.preElement>code {
  font-size: 1.2rem !important;
  line-height: 1.16545 !important;
  width: 100% !important;
  display: inline-block !important;
  background: #07090c !important;
}

@include medium {
  .preElement>code {
    font-size: .85rem !important;
    line-height: 1.175 !important;
  }
}