@import "../../../Styles/mixins";

.code {
  font-size: 1.2rem;
  background-color: var(--codeBlockBgColor);
  position: relative;
  border: solid 2px var(--codeBlockBorderColor);
  border-radius: 10px;
  width: 100%;
  transition: border-color .2s;

  &:not(.fullscreen):where(:focus-within, :hover) {
    border-color: #5c5e62;
  }
}

@include medium {
  .code {
    font-size: .8rem;
  }
}

.code.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 101;
  border-radius: 0;
}

.code>header {
  border-bottom: solid 1px #475264;
  display: flex;
}

@include small {
  .code>header {
    margin-bottom: 10px;
  }
}

.code.fullscreen>header {
  position: sticky;
  top: 0;
  background-color: var(--codeBlockBgColor);
}

.fileName {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: transparent;
  border: solid 1px #475264;
  color: var(--gray);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: border-color .2s;

  &:first-child {
    border-top-left-radius: 8px;
  }

  &.active {
    border-bottom-color: #0077ff;
  }
}

@include medium {
  .fileName {
    font-size: .8rem;
  }
}

.fileName>svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 50%;
}

@include medium {
  .fileName>svg {
    width: 12px;
    height: 12px;
  }
}

.code .buttons {
  position: absolute;
  right: 14px;
  top: 22px;
  width: fit-content;
  display: flex;
  transition: opacity .2s .1s;
  opacity: 0;
}

.code.fullscreen .buttons {
  position: fixed;
  right: 20px;
}

.code:hover .buttons,
.code:focus-visible .buttons,
.code:has(:focus-visible) .buttons {
  opacity: 1;
}

.buttons>button {
  cursor: pointer;
  border: none;
  width: 33px;
  height: 33px;
  @include center-x-y;
  background-color: var(--third-black);
  border-radius: 4px;
  transition: background-color .2s, transform .1s ease;

  &:hover {
    background-color: var(--secondary-black);
  }

  &:focus-visible {
    background-color: transparent;
    outline: solid 2px var(--light-green);
  }

  &:active {
    transform: scale(.93);
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

@include medium {
  .buttons>button {
    width: 29px;
    height: 29px;
  }
}

.buttons>button>svg {
  width: 14px;
  height: 14px;
  fill: var(--white);
}

@include medium {
  .buttons>button>svg {
    width: 11px;
    height: 11px;
  }
}

.buttons>button:focus-visible>svg {
  fill: var(--light-green);
}

.codeArea {
  display: flex;
}

.code.fullscreen .codeArea {
  height: calc(100vh - 40px) !important;
}

.preElement {
  background: var(--codeBlockBgColor) !important;
  border-radius: 10px;
  width: 100% !important;
  padding: 0 !important;
  margin: 20px !important;
  overflow: auto visible !important;
}

.code.fullscreen .preElement {
  overflow: auto !important;
  margin: 10px 0px 10px 10px !important;
}

.preElement::-webkit-scrollbar {
  background-color: var(--black-opacity18);
  height: 8px;
  width: 8px;
}

.preElement::-webkit-scrollbar-thumb {
  background-color: var(--gray-opacity23);
  border-radius: 10px;

  &:hover {
    background-color: var(--gray-opacity5);
  }
}

.preElement>code::selection,
.preElement>code>span::selection {
  background-color: var(--codeBlockSelectionColor) !important;
  color: var(--codeBlockSelectionTextColor) !important;
}

.preElement>code {
  font-size: 1.2rem !important;
  line-height: 1.16545 !important;
  width: 100% !important;
  display: inline-block !important;
  background: var(--codeBlockBgColor) !important;
}

@include medium {
  .preElement>code {
    font-size: .85rem !important;
    line-height: 1.175 !important;
  }
}