@import "../../../Sass/mixins";

.code {
  font-size: 1.2rem;
  background-color: #07090c;
  position: relative;
  border: solid 2px #090b0f;
  border-radius: 10px;
  width: 100%;
  transition: border-color .2s;

  &:hover,
  &:focus-within {
    border-color: #5c5e62;
  }
}

@include medium {
  .code {
    font-size: .8rem;
  }
}

.code>header {
  border-bottom: solid 1px #475264;
  margin-bottom: 20px;
}

@include small {
  .code>header {
    margin-bottom: 10px;
  }
}

.code>header .fileName {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: transparent;
  border: solid 1px #475264;
  border-bottom: solid 2px rgb(0, 119, 255);
  color: #cccccc;
  display: flex;
  align-items: center;

  &:first-child {
    border-top-left-radius: 8px;
  }
}

@include medium {
  .code>header .fileName {
    font-size: .8rem;
  }
}

.fileName>img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 50%;
}

@include medium {
  .fileName>img {
    width: 12px;
    height: 12px;
  }
}

.code.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
}

.code:hover .buttons,
.code:focus-visible .buttons {
  opacity: 1;
}

.code .buttons {
  position: absolute;
  right: 14px;
  top: 22px;
  width: fit-content;
  transition: opacity .2s .1s;
  opacity: 0;
}

.code.fullscreen .buttons {
  position: fixed;
  right: 20px;
}

.code .buttons>button {
  cursor: pointer;
  border: none;
  padding: 8px 10px;
  background-color: #696969;
  border-radius: 4px;
  transition: background-color .2s, transform .1s ease;

  &:hover,
  &:focus-visible {
    background-color: #313131;
  }

  &:active {
    transform: scale(.93);
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

@include medium {
  .code .buttons>button {
    padding: 6px 8px;
  }
}

.code .buttons>button>i {
  font-size: .8rem;
  color: var(--text);
}

.code .codeArea {
  display: flex;
}

.numbering {
  font-size: 1.1rem;
  line-height: 1.2727;
  color: #7f8799;
  border-radius: inherit;
  padding: 0 20px;
  user-select: none;
}

@include medium {
  .numbering {
    font-size: .85rem;
    line-height: 1.177;
  }
}

@include small {
  .numbering {
    padding: 0 10px;
  }
}

.codeBlock {
  width: calc(100% - 40px); // 60px is numbering width - 20px padding
}

.languageJs {
  background: #07090c !important;
  padding: 0 20px 20px 0 !important;
  margin-top: 0 !important;
  border-radius: 10px;
  width: calc(100% - 20px) !important;
}

.code.fullscreen .languageJs {
  overflow: visible !important;
  height: 100% !important;
}

.languageJs::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, .186);
  height: 8px;
}

.languageJs::-webkit-scrollbar-thumb {
  background-color: rgba(186, 186, 186, .237);
  border-radius: 10px;

  &:hover {
    background-color: rgba(186, 186, 186, .5);
  }
}

.languageJs>code {
  font-size: 1.2rem !important;
  line-height: 1.163 !important;
  width: auto !important;
  display: inline-block !important;
  background: #07090c !important;
}

@include medium {
  .languageJs>code {
    font-size: .85rem !important;
    line-height: 1.175 !important;
  }
}

@include small {
  .languageJs {
    padding: 0 10px 10px 0 !important;
  }
}