@import "../../../Sass/mixins";

.explanation {

}

.hookParagraph {
  margin: 0 0 30px;
}

.explanation>p + a {
  font-size: 1.2rem;
  padding-left: 0;
}

@include medium {
  .explanation>p + a {
    font-size: 1rem;
  }
}