@import "../../../Sass/mixins";

.code {
  display: flex;
  font-size: 1.2rem;
  background-color: #0d1017;
  position: relative;
  border: solid 2px #0d1017;
  border-radius: 10px;
  padding: 20px 20px 0 0;
  width: 100%;
  transition: border-color .2s;

  &:hover {
    border-color: #5c5e62;
  }
}

@include medium {
  .code {
    font-size: 1rem;
  }
}

.code:hover :is(.copyButton, .downloadButton) {
  opacity: 1;
}

.code pre {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}

.numbering {
  font-size: 1.1rem;
  line-height: 1.2742;
  color: #5a606d;
  border-radius: 10px;
  padding: 0 20px;
}

.languageJs {
  background-color: #0d1017 !important;
  padding: 0 !important;
  padding-bottom: 20px !important;
  border-radius: 10px;
  overflow-x: auto !important;
}

.languageJs::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, .186);
  height: 8px;
}

.languageJs::-webkit-scrollbar-thumb {
  background-color: rgba(186, 186, 186, .237);
  border-radius: 10px;

  &:hover {
    background-color: rgba(186, 186, 186, .5);
  }
}

.languageJs>span {
  display: block;
  height: 22.4px;
  width: 100%;
  transition: background-color .05s;

  &:hover {
    background-color: #0e2238;
  }
}

@include medium {
  .languageJs>span:hover {
    background-color: transparent;
  }
}

:is(.copyButton, .downloadButton) {
  position: absolute;
  right: 20px;
  top: 16px;
  cursor: pointer;
  border: none;
  padding: 10px 12px;
  background-color: rgb(105, 105, 105);
  border-radius: 4px;
  transition: background-color .2s, transform .1s ease, opacity .2s .1s;
  opacity: 0;

  &:hover {
    background-color: rgb(49, 49, 49);
  }

  &:active {
    transform: scale(.93);
  }
}

@include medium {
  :is(.copyButton, .downloadButton) {
    padding: 8px 10px;
  }
}

:is(.copyButton, .downloadButton) i {
  font-size: 1.1rem;
  color: var(--text);
}

@include medium {
  :is(.copyButton, .downloadButton) i {
    font-size: 1rem;
  }
}

.downloadButton {
  right: 64px;
}