@import "../../../Styles/mixins";

.section>ul {
  margin-bottom: 30px;
}

.section>ul>li {
  margin: 6px 0;
  font-size: 1.2rem;
  line-height: 1.4;
  color: var(--secondary-white);
}

@include medium {
  .section>ul>li {
    font-size: .9rem;
  }
}