@import "../../Sass/mixins";

.hooksMenu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.hooksMenu>li>a {
  text-decoration: none;
  padding: 12px 10px;
  background-color: var(--black);
  color: #fff;
  font-size: 1.1rem;
  width: 200px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: solid 2px var(--black);
  transition: background-color .2s;

  &:hover {
    background-color: var(--secondary-black);
    color: var(--white);
  }

  &.active {
    background-color: var(--secondary-black);
    color: var(--white);
  }

  &:focus-visible {
    outline: none;
    border-color: var(--light-green);
  }
}

@include large {
  .hooksMenu>li>a {
    font-size: 1rem;
  }
}