.downloadAllButton {
  display: flex;
  background-color: var(--cyan-blue2);
  border-radius: 5px;
  margin: 20px 0 20px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color .2s, transform .2s;

  &:active {
    transform: scale(.98);
  }
}

.downloadAllButton:hover {
  background-color: var(--cyan-blue-hover);
}

.downloadAllButton:focus-visible {
  outline: solid 2px var(--white);
}

.downloadAllButton>span {
  padding: 10px 16px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 28px;
  color: #fff;
}

.iconWrapper {
  background-color: var(--dark-cyan);
  transition: background-color .2s;
  min-width: 47px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadAllButton svg {
  fill: #fff;
  width: 20px;
  height: 20px;
  border-radius: 0 5px 5px 0;
}

.downloadAllButton:hover .iconWrapper {
  background-color: var(--dark-cyan-hover);
}