@import "../../Styles/mixins";

.sidebarWrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100vh - (100vh - 100%));
  user-select: none;
  z-index: 100;
  pointer-events: all;
  transition: left .5s ease-in-out;
}

@media print {
  .sidebarWrapper {
    display: none;
  }
}

.sidebarWrapper.hide {
  left: -250%;
}

.sidebarWrapper.active {
  left: 0;
  background-color: var(--dark-blue);
}

.sidebarWrapper:not(.hide).extend {
  left: -290px;
}

.sidebarWrapper.focusMode {
  transition: left .5s ease-in-out, opacity .5s .5s;
  pointer-events: none;
  opacity: 0;
}

.sidebarWrapper.shortcutMenu {
  z-index: 98;
}

.sidebarButton {
  background-color: transparent;
  position: fixed;
  left: 10px;
  top: 30px;
  padding: 10px;
  cursor: pointer;
  z-index: 98;
  transition: opacity .2s;

  &:hover {
    opacity: .8;
  }

  &:focus-visible {
    outline: solid 2px var(--orange);
    border-radius: 6px;
  }
}

@include small {
  .sidebarButton {
    left: 5px;
  }
}

.sidebarButton>svg {
  fill: var(--white);
  width: 26px;
  height: 26px;
}

.sidebar {
  padding: 20px 60px 20px 30px;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  z-index: 102;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar.active {
  padding: 20px 100px 20px 30px;
}

.closeNavButton {
  background-color: transparent;
  position: absolute;
  top: 21px;
  left: 6px;
  transform: translateX(240px);
  padding: 8px;
  cursor: pointer;
  z-index: 2;
  transition: opacity .2s;
  opacity: 0;

  &.active:hover {
    opacity: .8;
  }

  &:focus-visible {
    outline: solid 2px var(--orange);
    border-radius: 4px;
  }
}

.closeNavButton.active {
  opacity: 1;
}

.closeNavButton svg {
  width: 22px;
  height: 22px;
  fill: #fff;
}

.sidebar::-webkit-scrollbar {
  background-color: var(--black-opacity18);
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--gray-opacity23);
  border-radius: 10px;

  &:hover {
    background-color: var(--gray-opacity5);
  }
}

.dragLine {
  position: absolute;
  height: 100%;
  width: 8px;
  background-color: var(--light-dark-blue);
  left: 290px;
  top: 0;
  transition: background-color .2s;
  z-index: 102;
  cursor: pointer;

  &:hover {
    background-color: #4b4f5a;
  }
}

.extendSideBarButton {
  position: absolute;
  left: 300px;
  top: 50px;
  min-width: 26px;
  min-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-purple);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  z-index: 103;
  opacity: 0;
  transition: opacity .2s .1s, background-color .2s;

  &:hover {
    background-color: var(--gray-purple-secondary);
  }
}

.extendSideBarButton:hover>* {
  opacity: 1;
}

.extendSideBarButton svg {
  width: 14px;
  height: 14px;
  fill: #fff;
}

.sidebarWrapper:hover .extendSideBarButton,
.sidebarWrapper .extendSideBarButton.active,
.sidebarWrapper:has(:focus-visible) .extendSideBarButton {
  opacity: 1;
}

.sidebarWrapper.extend .extendSideBarButton {
  left: 290px;
}