.suggestionMenu {
  background-color: var(--darker-gray);
  border-radius: 4px;
  width: 202px;
  max-height: 390px;
  position: absolute;
  top: 0;
  z-index: 1;
  overflow-y: hidden;
  user-select: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s, top .2s;

  &.active {
    opacity: 1;
    pointer-events: all;
    top: 40px;
  }
}

.searchItem {
  background-color: transparent;
  width: 100%;
  font-size: 1rem;
  padding: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;

  &:hover {
    background-color: #323538;
  }

  &:focus {
    outline: none;
    background-color: #323538;
  }

  &:focus:hover {
    background-color: #464b4f;
  }
}

.searchItem>svg {
  fill: #fff;
  width: 15px;
  height: 15px;
}