@import "../../Sass/mixins";

.footer {
  padding: 150px 0 40px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 1285px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

.text>p {
  width: 100%;
  color: var(--white);
  text-wrap: balance;
  font-size: .9rem;

  & span {
    opacity: .7;
  }
}

@media (max-width: 1285px) {
  .text {
    text-align: center;
  }
}

.text>p>a {
  color: var(--white);
  padding: 4px;
  transition: opacity .2s, color .2s;
  opacity: .7;

  &:hover {
    opacity: 1;
  }

  &:focus {
    color: var(--very-cyan-blue);
    outline: none;
  }
}