@import "../../Styles/mixins";

.footer {
  padding: 150px 0 40px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 1285px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}