@import "../../Sass/mixins";

.footer {
  padding: 20px 0 40px;
  margin-top: 40px;
}

.footer>p {
  width: fit-content;
  color: var(--white);

  & span {
    opacity: .7;
  }
}

@include medium {
  .footer>p {
    font-size: .9rem;
  }
}

.footer>p>a {
  color: var(--white);
  padding: 4px;
  transition: opacity .2s, color .2s;
  opacity: .7;

  &:hover {
    opacity: 1;
  }

  &:focus {
    color: var(--very-cyan-blue);
    outline: none;
  }
}