.footer {
  padding: 20px 0;
}

.footer p {
  width: fit-content;
  color: var(--white);
  padding: 10px 0;

  & span {
    opacity: .7;
  }
}

.footer p a {
  color: var(--white);
  padding: 4px;
  transition: opacity .2s;
  opacity: .7;

  &:hover {
    opacity: 1;
  }
}