.SocialMedia {
  display: flex;
  align-items: center;
  margin: 0 50px;
  height: fit-content;
  position: relative;
  right: 0;
  top: 8px;
  text-decoration: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1285px) {
  .SocialMedia {
    top: 0;
    margin-bottom: 6px;
  }
}

.socialLink {
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 14px;

  &:focus-visible {
    outline: solid 2px var(--light-green);
  }

  &:not(:last-child) {
    margin-right: 4px;
  }
}

.socialLink:focus-visible svg {
  fill: var(--light-green);
}

.socialLink svg {
  fill: #78819a;
  width: 23px;
  height: 23px;
  transition: fill .2s, transform .2s;
}

.socialLink:hover svg {
  transform: scale(1.06);
  fill: var(--light-green);
}