.SocialMedia {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 50px;
  height: fit-content;
  position: relative;
  right: 0;
  top: 8px;
}

@media (max-width: 1285px) {
  .SocialMedia {
    top: 0;
    margin-bottom: 6px;
  }
}

.buttonIcon {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 14px;

  &:focus-visible {
    outline: solid 2px var(--light-green);
  }
}

.buttonIcon a {
  text-decoration: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonIcon:focus-visible svg {
  fill: var(--light-green);
}

.buttonIcon svg {
  fill: #78819a;
  width: 23px;
  height: 23px;
  transition: fill .2s, transform .2s;
}

.buttonIcon:hover svg {
  transform: scale(1.06);
  fill: var(--light-green);
}