.fullScreenButton {
  position: fixed;
  right: 15px;
  top: 90px;
  background-color: transparent;
  border: solid 2px var(--text);
  border-radius: 4px;
  opacity: .7;
  transition: opacity .2s, border-color .2s;

  &:hover {
    opacity: 1;
  }

  &:focus-visible {
    border-color: #2483ff;
  }
}

.fullScreenButton>i {
  font-size: 1rem;
  color: var(--text);
  padding: 7px 8px;
  cursor: pointer;
  transition: opacity .2s;
  z-index: 100;
}

.fullScreenButton:focus-visible>i {
  color: #2483ff;
}
